body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.skills-container {
    max-width: 1000px; 
    margin: 50px auto;
    text-align: center; 
    padding: 20px; 
    border: 1px solid #1de9b6; 
    border-radius: 8px; 
    background-color: rgba(30, 30, 30, 0.8); 
}

h1 {
    color: #1de9b6;
    font-size: 2em; 
    margin-bottom: 20px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.skills-grid {
    display: flex; 
    flex-wrap: nowrap; 
    overflow: auto;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    flex: 1; 
    margin: 0 10px; 
    min-width: 150px;
}
.skills-list li {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px; 
}


.icon {
    margin-right: 10px;
    font-size: 1.5em;
}


.fab.fa-html5 { color: #E44D26; }
.fab.fa-css3-alt { color: #1572B6; }
.fab.fa-js { color: #F7DF1E; }
.fas.fa-database { color: #003B5C; }
.fas.fa-laptop-code { color: #7A7D7D; }
.fas.fa-tools { color: #FFA500; }
.fab.fa-python { color: #306998; }
.fab.fa-php { color: #4F5B93; }
.fas.fa-users { color: #1de9b6; }
.fas.fa-book-open { color: #007BFF; }
.fas.fa-lightbulb { color: #FFD700; }
.fas.fa-brain { color: #6f42c1; }
.fas.fa-wrench { color: #28a745; }
.fas.fa-sync-alt { color: #17a2b8; }
.fas.fa-shield-alt { color: #dc3545; }
