#binary-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: lime;
    font-family: monospace; 
    overflow: hidden;
}

.content {
    display: none;
    position: relative;
    z-index: 1;
    color: white; 
    text-align: center;
    margin-top: 20%; 
}

/* Estilo para centralizar o iframe */
body {
    margin: 0;
    height: 100vh; /* Faz com que o corpo ocupe toda a altura da janela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

#video-frame {
    position: relative; /* Para controle de empilhamento */
    z-index: 2; /* Aumenta o índice para ficar acima de .content */
}
